VITE_API_DEV_URL=http://127.0.0.1:8000
VITE_API_PRO_URL=https://project_name.onrender.com

VITE_MODE=development
VITE_WS_URL=ws://localhost:4000

VITE_SUPABASE_URL=https://wyknzfjynbahuhgvehkb.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Ind5a256Zmp5bmJhaHVoZ3ZlaGtiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQ3NzkxMjQsImV4cCI6MjEwMDM1NTEyNH0.zmU9xdvfsgJpfEeqSN0sqztM5RZ_m2t_wBJr0UUMK-I