VITE_API_DEV_URL=http://127.0.0.1:8000
VITE_API_PRO_URL=https://project_name.onrender.com

VITE_MODE=development
VITE_WS_URL=ws://localhost:4000

VITE_SUPABASE_URL=https://your-project.supabase.co
VITE_SUPABASE_ANON_KEY=your_supabase_anon_key_here