PORT=8000

SUPABASE_URL=https://wyknzfjynbahuhgvehkb.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Ind5a256Zmp5bmJhaHVoZ3ZlaGtiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4NDc3OTEyNCwiZXhwIjoyMTAwMzU1MTI0fQ.HH_HwPKOZbHvBqbIV4J9ibVxYPUm4LJ321gvyiiAxBg
DATABASE_URL=postgresql://postgres:%40KishoreB2006@db.your-project-id.supabase.co:5432/postgres
SUPABASE_JWT_SECRET=DATATHON
NEO4J_URI=neo4j+s://3618208f.databases.neo4j.io
NEO4J_USERNAME=3618208f
NEO4J_PASSWORD=NptbUI9bBtHTmWaAkGEdhOr-FCppxDClYvBv1sJfrow
NEO4J_DATABASE=3618208f

CHROMA_DATABASE=Datathon

OPENROUTER_API_KEY=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
GEMINI_API_KEY=AQ.Ab8RN6KkLLGoYhEJ4-UFPmcGD5-yYXMNDF60JXkn3h2iPh0g2w